/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */
body {
  margin: 0;
  padding: 0;
  background-color: #CDCDCD;
  /*background-image: url('background-texture.jpg');*/
}

#page-wrapper {
  
}

#page {
  background-color: #ffffff;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #242424;
 -moz-box-shadow: 0 0 10px 5px #FAFAFA;
-webkit-box-shadow: 0 0 10px 5px #FAFAFA;
box-shadow: 0 0 10px 5px #FAFAFA;
  
}

#page a{
  color: #283A90;
  text-decoration:none;
  font-weight:bold;
}

#footer a{
  color: #242424;
}
/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
#header {

}

#header .section {
}

#header .content{

}

#logo /* Wrapping link for logo */ {
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}

#logo img {
  vertical-align: bottom;
}

#name-and-slogan /* Wrapper for website name and slogan */ {
  float: left;
}

h1#site-name,
div#site-name /* The name of the website */ {
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}

#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}

#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan /* The slogan (or tagline) of a website */ {
}

.region-header /* Wrapper for any blocks placed in the header region */ {
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
}

#main {
}

/*
 * Content
 */
#content {
}

#content .section {

}

#content .section p {
  font-size:100%;
}

#content .section h1 {
  font-size:200%;
}

.region-highlighted {
}

.breadcrumb /* The path to the current page in the form of a list of links */ {
  padding-bottom: 0; /* Undo system.css */
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title /* Comment title */ {
  margin: 0;
  color: #283A90;
  font-family: Georgia, Times NEw Roman, Times, serif;
}

ul.text-nav{
  list-style-type:none;
  text-align:center;
  font-size: 125%;
}

ul.text-nav li{
  padding-bottom:10px;
}

ul.text-nav li + li + li{
  padding-bottom:0px;
}

#block-locationmap-image img{
  float: right;
  margin-right: 30px;
}

#glossary{
  font-size: 150%;
}

#glossary li{
  /*background-image: url(tooth-icon.png);
  background-repeat: no-repeat;
  background-position: top left;*/
  padding:20px;
  font-weight:bold;
  font-size:100%;
  list-style-type:none;
  border:2px solid #283A90;
  background-color: #E6E8FA;
  margin-bottom:8px;
  border-radius: 25px 25px;
  -moz-border-radius: 25px 25px;
}

#glossary ul > li{
  font-size: 75%;
  background-image: none;
  padding:10px 0px 0px 0px;
  font-weight: normal;
  list-style-type:none;
  border:none;
}

#glossary ul ol{
  padding-top:10px;
}

#glossary ul ul{
  padding-top:10px;
}

#glossary ul > li > ol > li{
  border:none;
  font-size:90%;
  padding:0px 20px 0px 20px;
}

#glossary ul > li > ul > li{
  font-size:90%;
  padding:0px 20px 0px 20px;
}



.services ul > li{
  list-style-type:none;
  font-size:150%;
  font-weight:bold;
  padding-bottom:10px;
}

.services ul > li > a{
  color: #322F35 !important;
  padding-right:50px;
}

.services ul > li > a:hover{
  background-image: url('go-button.png');
  background-repeat: no-repeat;
  background-position: right center;
}

.services ul > li > ul > li{
  list-style-type:disc;
  margin-left:30px;
  font-size:75%;
  font-weight: normal;
  padding-bottom:8px;
  padding-top:8px;
}


.services ul > li > ul > li > a{
  font-weight: normal !important;
  color: #322F35 !important;
  
}

tr.even /* Some tables have rows marked even or odd. */ {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */ {
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
}

div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status /* Normal priority messages */ {
}

div.warning,
tr.warning /* Medium priority messages */ {
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error /* High priority messages. See also the .error declaration below. */ {
}

.error /* Errors that are separate from div.messages status messages. */ {
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning /* Warnings that are separate from div.messages status messages. */ {
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

div.tabs /* See also the tabs.css file. */ {
}

.region-help /* Help text on a page */ {
}

.more-help-link /* Link to more help */ {
}

.region-content /* Wrapper for the actual page content */ {
}

ul.links /* List of links */ {
}

ul.links.inline {
 /* Let the links be inline, but the container be a block. */
}

ul.links li {
 /* LTR */
}

.item-list .pager /* A list of page numbers when more than 1 page of content is available */ {
  padding: 0;
}

.item-list .pager li /* Each page number in the pager list */ {
  padding: 0 0.5em;
}

.feed-icon /* The link to the RSS or Atom feed for the current list of content */ {
}

.more-link /* Aggregator, blog, and forum more link */ {
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
.region-sidebar-first {
}

.region-sidebar-first .section {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
.region-sidebar-second {
}

.region-sidebar-second .section {
}

/*
 * Footer
 */
.region-footer {
}

/*
 * Page bottom
 */
.region-bottom /* Wrapper for any blocks placed in the page bottom region */ {
}
